permissions:
  contents: write

name: Docs

on:
  push:
    branches:
      -  main

jobs:
  rustdoc:
    name: Rustdoc
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - name: Create rustdoc
        run: cargo doc

      - name: Generate index.html file
        run: |
            echo "<meta http-equiv=refresh content=0;url=compose>" > target/doc/index.html

      # - name: Create CNAME
      #   run: |
      #     echo 'example.com' > target/doc/CNAME

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.8
        with:
          branch: gh-pages
          folder: target/doc
          clean: true
          single-commit: true
